<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Acedmics Record</title>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>

  </head>
    <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
    <style>
</style>
  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Acedmics Record</center> </div>
<div>
<div>
  <input type="text" id="myInput"  placeholder="Search for Roll Number..">
</div>
<div class="container">
             <table class="table table-bordered" id="myTable">
                   <tr>
                     <th >Roll Number</th>
                     <th >Du Acadmics Number </th>
                     <th >Acadmics Amount</th>
                     <th >Complete Details</th>
                     </tr>
                     <%  acds.forEach(function(acd){ %>
                       <tbody id="abc">
                         <tr>
                             <td>
                                 <%=acd.rollno%>
                             </td>
                             <td>
                               <%=acd.DUAcd%>
                             </td>
                             <td>
                                 <%=acd.DUAcdAmt%>
                             </td>
                                <td><a href="/acds/<%=acd.rollno%>">More ...</a></td>
                             </tr>
                           </tbody>
                             <% }); %>
                 </table>
             </center>
         </div>
         <center><a class="btn btn-success" href="javascript:window.print()">PRINT </a></center>

   		<script>
   			$(document).ready(function() {
   				$("#myInput").on("keyup", function() {
   					var value = $(this).val().toLowerCase();
   					$("#abc tr").filter(function() {
   						$(this).toggle($(this).text()
   						.toLowerCase().indexOf(value) > -1)
   					});
   				});
   			});
   		</script>

<%- include("footer") -%>
</body>
</html>
