
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
      <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
  </head>
  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Basic Details</center> </div>
    <div>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Roll Number.." title="Type in a name">
    </div>
    <div>
             <center>
                 <table class="content-table" id="myTable">
                   <tr>
                     <th width="15%">Name</th>
                     <th width="10%">Roll Number</th>
                     <th width="12%">Mobile Number </th>
                     <th width="15%">Gmail</th>
                     <th width="15%">Complete Details</th>
                     </tr>
                     <%  students.forEach(function(student){ %>
                         <tr>
                             <td>
                               <%=student.name%>
                             </td>
                             <td>
                                 <%=student.rollno%>
                             </td>
                             <td>
                               <%=student.mobileno%>
                             </td>
                             <td>
                                 <%=student.email%>
                             </td>
                             <td><a href="/students/<%=student._id%>">More ...</a></td>



                             </tr>
                             <% }); %>
                 </table>
                 <form>
                  <input type="button" value="Print this page" onClick="window.print()">
                  </form>
             </center>
         </div>
         <div class="print"><a class="btn btn-success" href="javascript:window.print()">PRINT </a></div>
 <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<%- include("footer") -%>
</body>
</html>
