
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
      <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
  </head>
  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>

  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Basic Details</center> </div>
    <div>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Roll Number.." title="Type in a name">
    </div>
    <div class="container">
                 <table class="table table-bordered" id="myTable">
                   <tr>
                     <th >Name</th>
                     <th >Roll Number</th>
                     <th >Mobile Number </th>
                     <th >Gmail</th>
                     <th >Complete Details</th>
                     </tr>
                     <%  students.forEach(function(student){ %>
                       <tbody id="abc">
                         <tr>
                             <td>
                               <%=student.name%>
                             </td>
                             <td>
                                 <%=student.rollno%>
                             </td>
                             <td>
                               <%=student.mobileno%>
                             </td>
                             <td>
                                 <%=student.email%>
                             </td>
                             <td><a href="/students/<%=student.rollno%>">More ...</a></td>




                             </tr>
                           </tbody>
                             <% }); %>
                 </table>
                 <center><a class="btn btn-success" href="javascript:window.print()">PRINT </a></center>
                  </form>
         </div>
         <div class="print"></div>
         <script>
      			$(document).ready(function() {
      				$("#myInput").on("keyup", function() {
      					var value = $(this).val().toLowerCase();
      					$("#abc tr").filter(function() {
      						$(this).toggle($(this).text()
      						.toLowerCase().indexOf(value) > -1)
      					});
      				});
      			});
      		</script>
<%- include("footer") -%>
</body>
</html>
