
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
      <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
      <style>
      .srch{
        height: 10px;
        width: 50px;
        border: 2 px solid blue;
      }
      </style>
  </head>
  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Basic Details</center> </div>
    <div  class="srch">
    <input type="text" name="" id="myInput" onkeyup="searchFun()" placeholder="names">
  </div>

<div>
             <center>
                 <table class="content-table" id="myTable">
                   <tr>
                     <th width="15%">Name</th>
                     <th width="10%">Roll Number</th>
                     <th width="12%">Mobile Number </th>
                     <th width="15%">Gmail</th>
                     <th width="15%">Complete Details</th>

                     <!-- <th width="12%">DU Acadmics Number</th>
                     <th width="12%">DU Hostel Number</th> -->
                     <!-- <th width="15%">More...</th> -->

                     </tr>
                     <%  students.forEach(function(student){ %>
                         <tr>
                             <td>
                               <%=student.name%>
                             </td>
                             <td>
                                 <%=student.rollno%>
                             </td>
                             <td>
                               <%=student.mobileno%>
                             </td>
                             <td>
                                 <%=student.email%>
                             </td>
                             <td><a href="/students/<%=student._id%>">More ...</a></td>



                             </tr>
                             <% }); %>
                 </table>
                 <form>
                  <input type="button" value="Print this page" onClick="window.print()">
                  </form>
             </center>
         </div>
         <script type="text/javascript">
            const searchFun=()=>{
             let filter = document.getElementById('myInput').value.toUpperCase();
             let myTable = document.getElementById('myTable');
             let tr = myTable.getElementByTagName('tr');
             for(var i=0;i<tr.length;i++){
                 let td = tr[i].getElementByTagName('td')[0];
                 if(td){
                     let textvalue = td.textContent  || td.innerHTML;
                     if(textvalue.toUpperCase().indexOf(filter)>-1){
                         tr[i].style.display="";
                     }else{
                         tr[i].style.display="none ";
                     }
                 }
             }
             </script>
<%- include("footer") -%>
</body>
</html>
