<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
      <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
      <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>

  </head>
  <body>

<%- include("header") -%>
<div class="text"><center>Student Elective Subjects</center> </div>
<div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Roll Number.." title="Type in a name">
</div>
<div class="container">
   <table class="table table-bordered" id="myTable">
  <tr>
    <th >Roll Number</th>
    <th >Branch</th>
    <th>Semester </th>
    <th >Elective</th>
    <th >Complete Details</th>
    </tr>
    <%  electives.forEach(function(elective){ %>
      <tbody id="abc">
        <tr>
          <td>
              <%=elective.rollno%>
          </td>
            <td>
              <%=elective.branch%>
            </td >
            <td>
              <%=elective.semester%>
            </td>
            <td>
                <%=elective.elective%>
            </td>
            <td><a href="/electives/<%=elective.rollno%>">More ...</a></td>

            </tr>
          </tbody>
            <% }); %>
</table>
</center>
<div class="print"><a class="btn btn-success" href="javascript:window.print()">PRINT </a></div>
<script>
 $(document).ready(function() {
   $("#myInput").on("keyup", function() {
     var value = $(this).val().toLowerCase();
     $("#abc tr").filter(function() {
       $(this).toggle($(this).text()
       .toLowerCase().indexOf(value) > -1)
     });
   });
 });
</script>
<%- include("footer") -%>
</body>
</html>
