<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
      <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
  </head>
  <body>

<%- include("header") -%>
<div class="text"><center>Student Elective Subjects</center> </div>
<div>
  <center>
<table class="content-table">
  <tr>
    <th width="20%">Roll Number</th>
    <th width="15%">Branch</th>
    <th width="15%">Semester </th>
    <th width="30%">Elective</th>
    <th width="15%">complete Details</th>
    </tr>
    <%  electives.forEach(function(elective){ %>
        <tr>
          <td>
              <%=elective.rollno%>
          </td>
            <td>
              <%=elective.branch%>
            </td >
            <td>
              <%=elective.semester%>
            </td>
            <td>
                <%=elective.elective%>
            </td>
            <td><a href="/electives/<%=elective._id%>">More ...</a></td>
            </tr>
            <% }); %>
</table>
</center>
<div class="print"><a class="btn btn-success" href="javascript:window.print()">PRINT </a></div>
<%- include("footer") -%>
</body>
</html>
