<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
      <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
  </head>
  <body>

<%- include("header") -%>
<div class="text"><center>Student Elective Subjects</center> </div>
<div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Roll Number.." title="Type in a name">
</div>
<div>
  <center>
<table class="content-table" id="myTable">
  <tr>
    <th width="10%">Roll Number</th>
    <th width="20%">Branch</th>
    <th width="20%">Semester </th>
    <th width="30%">Elective</th>
    <th width="15%">Complete Details</th>
    </tr>
    <%  electives.forEach(function(elective){ %>
        <tr>
          <td>
              <%=elective.rollno%>
          </td>
            <td>
              <%=elective.branch%>
            </td >
            <td>
              <%=elective.semester%>
            </td>
            <td>
                <%=elective.elective%>
            </td>
            <td><a href="/electives/<%=elective._id%>">More ...</a></td>
            </tr>
            <% }); %>
</table>
</center>
<div class="print"><a class="btn btn-success" href="javascript:window.print()">PRINT </a></div>
<script>
function myFunction() {
 var input, filter, table, tr, td, i, txtValue;
 input = document.getElementById("myInput");
 filter = input.value.toUpperCase();
 table = document.getElementById("myTable");
 tr = table.getElementsByTagName("tr");
 for (i = 0; i < tr.length; i++) {
   td = tr[i].getElementsByTagName("td")[0];
   if (td) {
     txtValue = td.textContent || td.innerText;
     if (txtValue.toUpperCase().indexOf(filter) > -1) {
       tr[i].style.display = "";
     } else {
       tr[i].style.display = "none";
     }
   }
 }
}
</script>
<%- include("footer") -%>
</body>
</html>
