<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Hostel Record</title>
    <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
  </head>
  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Hostel Record</center> </div>
<div>
             <center>
                 <table  class="content-table">
                   <tr>
                     <th width="25%">Roll Number</th>
                     <th width="25%">Du Acadmics Number </th>
                     <th width="25%">Du Acadmics Amount</th>
                     <th width="25%">Complete Details</th>
                     </tr>
                     <%  hoss.forEach(function(hos){ %>
                         <tr>
                             <td>
                                 <%=hos.rollno%>
                             </td>
                             <td>
                               <%=hos.DUHostel%>
                             </td>
                             <td>
                                 <%=hos.DUHostelAmt%>
                             </td>
                             <td><a href="/hos/<%=hos._id%>">More ...</a></td>
                             </tr>
                             <% }); %>
                 </table>
             </center>
         </div>

<%- include("footer") -%>
</body>
</html>
