<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Hostel Record</title>
  </head>
    <link rel="stylesheet" type="text/css" href="/css/tablecss.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>

  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Hostel Record</center> </div>
<div>
  <div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Roll Number.." title="Type in a name">
  </div>
  <div class="container">
        <table class="table table-bordered" id="myTable">
                   <tr>
                     <th >Roll Number</th>
                     <th >Du Acadmics Number </th>
                     <th >Du Acadmics Amount</th>
                     <th >Complete Details</th>
                     </tr>
                     <%  hoss.forEach(function(hos){ %>
                       <tbody id="abc">
                         <tr>
                             <td>
                                 <%=hos.rollno%>
                             </td>
                             <td>
                               <%=hos.DUHostel%>
                             </td>
                             <td>
                                 <%=hos.DUHostelAmt%>
                             </td>
                                <td><a href="/hoss/<%=hos.rollno%>">More ...</a></td>
                             </tr>
                             <% }); %>
                 </table>
             </div>
         </div>
         <center><a class="btn btn-success" href="javascript:window.print()">PRINT </a></center>
         <script>
     			$(document).ready(function() {
     				$("#myInput").on("keyup", function() {
     					var value = $(this).val().toLowerCase();
     					$("#abc tr").filter(function() {
     						$(this).toggle($(this).text()
     						.toLowerCase().indexOf(value) > -1)
     					});
     				});
     			});
     		</script>

<%- include("footer") -%>
</body>
</html>
