<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .custom-margin {
         margin-top: 8vh;
      }
   </style>
  <title>Login</title>
</head>

<body>
<%- include("header") -%>
    <div class=" text-center mt-3 pt-2 pb-2"><center><h1>IIITU<%=rollno%></h1></center> </div>
    <br>
<div class="container">
                 <table class="table table-bordered" >
                    <tr>
                      <th>Name:</th>
                      <td><%=name%></td>
                    </tr>
                    <tr>
                      <th>Roll Number:</th>
                      <td><%=rollno%></td>
                    </tr>
                    <tr>
                      <th>Branch:</th>
                      <td><%=branch%></td>
                    </tr>
                    <tr>
                      <th>Semester</th>
                      <td><%=semester%></td>
                    </tr>
                    <tr>
                        <th>Mobile:</th>
                        <td><%=  mobileno%></td>
                      </tr>
                   <tr>
                          <th>Elective:</th>
                          <td><%=  elective%></td>
                        </tr>
                  <tr>
                          <th>DU Acadmics Number:</th>
                          <td><%=  DUAcd%></td>
                        </tr>
                        <tr>
                            <th>DU Acadmics Amount:</th>
                            <td><%=  DUAcdAmt%></td>
                        </tr>

                   <tr>
                            <th>DU Hostel Number:</th>
                            <td><%=  DUHostel%></td>
                        </tr>

                              <tr>
                                  <th>DU hostel Amount:</th>
                                  <td><%=  DUHostelAmt%></td>
                                </tr>





                 </table>
               </div>
                 <br><br>
                 <center><a class="btn btn-success" href="javascript:window.print()">PRINT </a>
                 </center>
         </div>
         <%- include("footer"); -%>
</body>
</html>
