<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
  </head>
  <style>
  .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    table {
        border-spacing: 0;
        border: 1px solid #ddd;
        margin: 10px;
    }
    th,td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #ddd
    }
    th{

      align-item:center;
      cursor: pointer;
    }
    .a1{
      align-item:center;
    }
    </style>

  <body>
    <%- include("header") -%>
    <div class="text"><center>Student Registration Record</center> </div>
<div>
             <center>
                 <table border="2px">
                   <tr>
                     <th width="15%">Name</th>
                     <th width="10%">Branch</th>
                     <th width="10%">Roll Number</th>
                     <th width="12%">Mobile Number </th>
                     <th width="15%">Gmail</th>
                     <th width="12%">DU Acadmics Number</th>
                     <th width="12%">DU Hostel Number</th>
                     <!-- <th width="15%">More...</th> -->

                     </tr>
                     <%  posts.forEach(function(post){ %>
                         <tr>
                             <td>
                               <%=post.name%>
                             </td>
                             <td>
                               <%=post.branch%>
                             </td >
                             <td>
                                 <%=post.rollno%>
                             </td>
                             <td>
                               <%=post.mobileno%>
                             </td>
                             <td>
                                 <%=post.email%>
                             </td>
                             <td>
                                 <%=post.DUAcd%>
                             </td>
                             <td>
                                 <%=post.DUHostel%>
                             </td>

                             </tr>
                             <% }); %>
                 </table>
             </center>
         </div>

<%- include("footer") -%>
</body>
</html>
